.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    left:3rem !important;
    display: flex!important;
    bottom:3rem !important;
    top:unset !important;
    right:unset !important;
    transform: unset!important;
    background-color: transparent;
    -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.warper--herobanner {
    position:relative !important;
    width: 100% !important;
    height:80vh !important;
    margin-top:10vh !important;
  }
  .swiper {
    width: 100%;
    height: 100%;
  
  }
  .demo-banner {
    height:100%;
    width: 100%;
    position:relative;
  }
  .demo-banner::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size:cover;
    filter: brightness(90%);
    background-position: center;
}
 
.swiper-pagination {
    z-index:9999!important;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    display: flex !important;
    border-radius: 0;
    width: auto;
    height: auto;
    opacity: 1;
    background: 0;
    position: relative;
}
.custom-styleAuth {
    padding:1rem 2rem;
    margin:0 !important;
}
.custom-styleAuth > p {
    height:fit-content;
    font-size: 1.2rem;
    color:#fff;
    font-weight:bold;
    margin:auto;
}
.custom-styleAuth::after{
    content: "";
    transform: scaleX(0);
    transition: .5s;
    transform-origin: 50%;
}
.custom-styleAuth:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    left: 0;
    transform: scaleX(1);
    background: rgba(255,255,255,.8);
}
/* CHILD BANNER */
.wraper-child-banner {
    position: absolute;
    z-index: 9990!important;
    width: 100%;
    height: 40%;
    top:50%;
    transform:translateY(-50%);
}
.wraper-child-banner > div:nth-child(n) {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
}
.child-banner {
    position:absolute;
    color:#fff;
    overflow: hidden;
    left: 4.20rem;
 
}
.child1st {
    height: 5rem;
    width:80vw;
    top: 0;
}
.child1st--target {
    font-size: 3.789rem;
    line-height: 3.789rem;
    width:fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform:translateY(90%);
    text-shadow: 2px 2px black;
}
.child2st {
    height:10rem;
    width:50vw;
    top: 50%;
    transform: translateY(-50%);
} 
.child2st--target {
    font-weight: normal;
    font-size:1.2rem;
    line-height: 1.2rem;
    width:fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform:translate(0% ,-50%);
    text-shadow: 2px 2px black;
    opacity:0;
}
p.child2st--target {
    line-height: 120%;
    letter-spacing: 0.1rem;

}
.child3st{
    bottom: 0;
    width:50vw;
    height:4rem;
}
.child3st--target {
    width:fit-content;
    height: fit-content;
    padding: 1rem 1.5rem;
    border:0px solid white;
    border-radius: 50px;
    font-size:1rem;
    background-color:whitesmoke;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}
.child3st--target > i {
    margin-left: .8rem;
}
.hoho {
    opacity:1 !important;
    transform:translateY(60%);
    transition: all 700ms cubic-bezier(.25,.1,.25,1);
}
@media(max-width: 886px) {
    .child1st--target {
        font-size:3rem;
    }
    .child1st {
 
        left: 2.20rem;
       
    }
    .child2st {
        font-size:0.8rem;
        width:60vw;
        left: 2.20rem;
        
    }
    .child3st {
       
        left: 2.20rem;
    }
    .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
        left:0 !important;
        bottom:0 !important;
    }
    
    .custom-styleAuth > p{
        font-size:0.8rem;
    }
    .child3st>button {
  
        padding: 0.8rem 2rem;
        font-size:0.8rem;
    }
}
@media(max-width: 686px) {
    .child1st--target {
        font-size:2.7rem;
    }
}
@media(max-width: 586px) {
    .child1st--target {
        font-size:2rem;
        
    }
    .company--logo {
        height: 70px;
    }
    .child2st--target {
        font-size:1rem!important;
        line-height: 100% !important;
        letter-spacing: unset !important;
    }
    .custom-styleAuth {
        padding:1rem;
        margin:0 !important;
    }
    .child1st {
        font-size:1.6rem;
        top:0;
        left:1rem;
        height: 3rem;
    }
    .child2st {
        width:80vw;
        font-size:0.6rem;
        top:16vh;
        left:1rem;
    }
    .child3st{
        padding: 0.5rem 0 0 0;
        top:30vh;
        font-weight: 400;
        left:1rem;
    }
    .child3st >button{
        padding: 0.5rem 0.8rem;
    }
    .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
        width:33.33333vw !important;
    }
}
.classForCheckFUNCT {
    -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: rgb(197 ,211 ,224, 0.5)!important;
}
